{% extends 'core/base.html' %}
{% block title %}Sign up! {% endblock %}

{% block content %}

<div class="signup-container">
    <h1>Sign up!</h1>
    <form class="signup-form" method="post" action=".">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username..." class="input-field username">
        <input type="password" name="password1" placeholder="Password..." class="input-field password">
        <input type="password" name="password2" placeholder="Repeat password..." class="input-field repassword">
        
        <button class="submitbut">SUBMIT</button>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <p class="error"> {{ error|escape }} </p>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </form>
</div>

{% endblock %}