* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #301860, #612780);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar {
    position: absolute;
    top: 20px;
    width: 80%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.login-container {
    text-align: center;
    color: #cccccc;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #cccccc;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    width: 300px;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background: #1f1f1f;
    color: white;
    transition: transform 1s ease-in-out;
    opacity: 0;
    transform: translateX(-100%);
}



.input-field.username {
    animation: slideIn 1s forwards;
    animation-delay: 0.5s;
}

.input-field.password {
    animation: slideIn 1s forwards;
    animation-delay: 1s;
}

.submitbut {
    background-color: #b8860b;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
    animation-delay: 1.5s;
    opacity: 0;
    transition: background-color 0.3s ease;
}

.submitbut:hover {
    background-color: #daa520;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}